@charset "UTF-8";

h1 {
  font-family: serif;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.bar {
  height: 30px;
  width: 150px;
  margin: 20px auto;
  position: relative;
}

.bar_over,
.bar_under {
  height: 30px;
  margin: 0;
  position: absolute;
}

.bar_under {
  background: linear-gradient(#333, #000);
  background: -webkit-linear-gradient(#333, #000);
  background: -moz-linear-gradient(#333, #000);
  background: -o-linear-gradient(#333, #000);
  background: -ms-linear-gradient(#333, #000);
  width: 100%;
}

.bar_over {
  background: linear-gradient(#0C0, #090);
  background: -webkit-linear-gradient(#0C0, #090);
  background: -moz-linear-gradient(#0C0, #090);
  background: -o-linear-gradient(#0C0, #090);
  background: -ms-linear-gradient(#0C0, #090);
  z-index: 2;
  width: 60%;
}
