ul {
  margin:0 auto;
  padding:0;
}

ul>li {
  list-style:none;
  margin:0;
  padding:3px 0 3px 0;
  line-height:14px;
}

ul>li>a {
  text-decoration:none;
  font-size: 12px;
}

div>h3 {
  font-weight:normal;
  font-size: 12px;
}

.sub-nav {
  width: 160px;
  background-color: rgb(246, 246, 246);
}

.nav1 {
  margin:0 9.6px 0 11.2px;
  padding: 4px 0px;
  border-bottom:1px solid #ccc;
}

.nav2 {
  margin:0 9.6px 0 11.2px;
  padding: 4px 0px;
  border-bottom:1px solid #ccc;
}

.nav3 {
  margin:0 9.6px 0 11.2px;
  padding: 4px 0px;
  border-bottom:1px solid #ccc;
}

.nav4 {
  margin:0 9.6px 0 11.2px;
  padding: 4px 0px;
  border-bottom:1px solid #ccc;
}

.nav5 {
  margin:0 9.6px 0 11.2px;
  padding: 4px 0px;
}
